//*IMPORTS-RESET*//
@import "Estilos-principales/reset";
@import "Estilos-principales/header";
@import "Estilos-principales/footer";

//*IMPORT-PAGES**//
@import "style-pages/pageIndex";
@import "style-pages/pageCarrito";
@import "style-pages/pageContacto";
@import "style-pages/pageEquipos";
@import "style-pages/pageNosotros";

/* Modelo responsive (Media Queries)*/
@media (min-width: 768px) {
.menu-principal ul {
    display: flex; 
    flex-direction: row; 
    justify-content:center; 
    align-items:stretch; 
}

.menu-principal li {
    margin-bottom: 0; 
    margin-right: 20px; 
}
}

@media (max-width: 767px) {
.menu-principal ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: auto;
    height: auto;
    width: auto;
}

.menu-principal li {
    margin-right: 0; 
    font-size: 8px; 
}
}