/* PAGINA EQUIPOS */

.card-equipos {
    grid-template-columns: repeat(4, 1fr); /* Crea 4 columnas iguales */
    grid-gap: 20px; /* Espacio entre columnas */
    border: 1px solid #ddd; /* Borde de la tarjeta */
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center; /* Alinea verticalmente */
    .card-equipos{
        flex-direction: column;
        align-items: center;
    }

    .card-image img {
        grid-column: 2; /* La imagen ocupará 2 columnas */
        width: auto;
        height: 100%;
        border-radius: 8px;
    }

    .texto-equipos {
        grid-column: 50%; /* El contenido ocupará las otras 2 columnas */
        width:auto;

        .texto-equipos h2 {
            margin: 10px 0;
            font-size: 1.5em;
        }
        
    }
    
    .texto-equipos p {
        font-size: 1em;
        color: #666;
        text-align: left;
    }
}


.equipos-box {
    display: grid;
    margin: auto;
    padding: 20px;
}

.boton {
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover {
    color: blue;
    }
}
