//*PAGINA INDEX*//
.servicios-destacados{
    text-align: center;
    margin: 10px;
    padding: 20px;
    color:rgb(23, 108, 122)
}

.listas-acordeon {
    text-align: left;
    text-size-adjust: auto;
    list-style-type: none;
    line-height: 2em;
    padding: 12px;
    margin: 10px;
}

.resaltadoListaAcordeon {
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(190, 89, 148);
}

.comentarios {
    text-align: center;
}


/* Modelo responsive (Media Queries)*/
@media (min-width: 768px) {
    .menu-principal ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    }
    .menu-principal li {
    margin-bottom: 0;
    margin-right: 20px;
    }
}
@media (max-width: 767px) {
    .menu-principal ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: auto;
    height: auto;
    width: auto;
    }
    .menu-principal li {
    margin-right: 0;
    font-size: 8px;
    }
}